<!DOCTYPE html>
<html>
<head>
  <title>Thanh toán thành công</title>
</head>
<body>
  <!-- Mã JavaScript để hiển thị pop-up alert -->
  <script>
    alert("Chúc mừng bạn thanh toán thành công");
    // Sau khi hiển thị alert, chuyển hướng người dùng đến trang chủ
    window.location.href = '/';
  </script>
</body>
</html>